/*---------catalog-----------*/

.arrivals {
   background-color: #F8F3F4;
   margin-top: 75px;
   &__body {
      display: flex;
      justify-content: space-between;
      padding: 60px 0;
      @media (max-width: $md1+px) {
         margin: 0 16px;
      }
      @media (max-width: $md4+px) {
         flex-direction: column;
         padding: 32px 0;
      }
   }

   &__heading {
      text-transform: uppercase;
      @include font(24px, $ColorSelect, 29px);
      @media (max-width: $md4+px) {
         align-self: center;
      }
   }

   &__links {
      align-self: center;
      @media (max-width: $md4+px) {
         margin-top: 32px;
      }
   }
}

.bread-crumbs {
   &__link {
      @include font(14px, #636363, 17px);
      font-weight: 300;
      text-transform: uppercase;
      padding: 0 3px 0 0;
      &:not(:last-child):after {
         content: "/";
         padding-left: 5px;
      }
      &:last-child {
         font-weight: 700;
         color: $ColorSelect;
      }
      &:hover {
         color: $ColorSelect;
      }
      &:hover .bread-crumbs__link:after{
         color: #636363;
      }
   }
}

/*--------------------*/

.filter {   
   padding-bottom: 49px;
   margin-top: 50px;
   @media (max-width: $md3+px) {
      padding-bottom: 24px;
   }
   &__body {
      display: flex;
      justify-content: start;
      // text-align: center;
      // width: 100%;
      @media (max-width: $md1+px) {
         margin: 0 16px;
         justify-content: space-between;
         max-width: 736px;
         margin: 0 auto;
      }
      @media (max-width: $md3+px) {
         max-width: 360px;
      }
   }

   &__list {
      display: flex;
      // align-self: flex-start;
      align-items: center;
      justify-content: start;
      flex: 1 1 33.33333%;
      @media (max-width: $md1+px) {
         flex: 1 1 auto;
      }
   }

   &__filters {
      display: flex;
      margin-left: 15px;
      align-items: center;
      flex: 1 1 66.66666%;
      @media (max-width: $md1+px) {
         justify-content: flex-end;
      }
      @media (max-width: $md3+px) {
         margin-left: 0;
         flex-direction: column;
         justify-content: center;
         align-items: flex-start;
         margin-top: 55px;
      }
   }

   &__column {
      display: flex;
      align-items: center;
      margin: 0 28px 0 0;
      &:last-child {
         margin-right: 0;
      }
      @media (max-width: $md3+px) {
         @include font(12px, #6F6E6E, 14px);
         // margin: 0 15px 0 0;
         margin-right: 0;
         margin-bottom: 16px;
         &:last-child {
            margin-bottom: 24px;
         }
      }
   }

   // &__details {
      
   // }

   &__text {
      @include font(14px, #6F6E6E, 17px);
      padding-right: 10px;
      @media (max-width: $md3+px) {
         @include font(12px, #6F6E6E, 14px);
         padding-right: 5px;
      }
   }

}


.details {
   position: relative;
   
   &[open] {
      transition: 3s all;
   }
   &[open] .details__svg {
      transform: rotate(180deg);
   }
   &[open] .details__title_bold {
      color: $ColorSelect;
      &:hover {
         color: #000;
      }
      &:hover .details__filter-svg path{
         fill: #000;
      }
   }
   &[open] .details__filter-svg path {
      fill: $ColorSelect;
   }

   &__title {
      cursor: pointer;
      text-transform: uppercase;
      display: flex;
      @include font(14px, #6F6E6E, 17px);  
      &:hover {
         color: $ColorSelect;
      }
      &:hover .details__svg path{
         fill: $ColorSelect;
      }
   }

   &__title-prod {
      @media (max-width: $md4+px) {
         @include font(10px, #6F6E6E, 12px);  
      }
   }

   &__title_bold {
      text-transform: uppercase;
      font-weight: 600;
      @include font(14px, #000, 17px);
      padding-left: 16px;
      position: relative;
      z-index: 10;
      &:hover .details__filter-svg path{
         fill: $ColorSelect;
      }
      @media (max-width: $md3+px) {
         & svg {
            width: 37px;
            height: 25px;
         }
         & span {
            display: none;
         }
      }
      
   }

   &__filter-svg {
      align-self: center;
      margin-left: 10px;
   }

   &__svg {
      align-self: center;
      margin-left: 10px;
      transition: transform 0.3s ease;
   }

   &__svg-prod {
      @media (max-width: $md4+px) {
         margin-left: 5px;
      }
   }

   &__form {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 22px;
      left: -9px;
      z-index: 5;
      background-color: #fff;
      padding: 9px 30px 12px 9px;
      box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
      @media (max-width: $md3+px) {
         position: relative;
         top: 10px;
         left: 0;
         z-index: 0;
         background-color: transparent;
         box-shadow: none;
      }
   }

   &__form-prod {
      display: flex;
      flex-direction: column;
      position: absolute;
      top: 22px;
      left: -9px;
      z-index: 5;
      background-color: #fff;
      padding: 9px 30px 12px 9px;
      box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
   }

   &__row {
      display: flex;
      align-items: center;
      margin-bottom: 9px;
      &:last-child {
         margin-bottom: 0;
      }
   }

   &__label {
      margin-left: 9px;
      @include font(14px, #6F6E6E, 16px);
      cursor: pointer;
   }

   &__input {
      cursor: pointer;
   }
}

.filter-menu {
   padding: 16px;
   background-color: #fff;
   box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
   width: 360px;
   position: absolute;
   z-index: 5;
   top: -16px;
   left: 0;
   @media (max-width: $md4+px) {
      width: 304px;
      margin: 0 8px;
   }
   &__category {
      &:first-child {
         margin-top: 32px;
      }
   }

   &__categories-name {
      position: relative;
      display: flex;
      justify-content: flex-start;
      @include font(14px, #EF5B70, 17px);
      padding: 10px 0 10px 16px;
      border-bottom: 1px solid #EBEBEB;
      transition: border 0.5s ease-in;
      &:hover {
         color: #E05C6E;
         border-bottom: 1px solid #E05C6E;
      }
      &:hover:before {
         background-color: #E05C6E;
      }
      &:before {
         content: "";
         position: absolute;
         top: 0;
         left: 0;
         width: 5px;
         height: 38px;
         background-color: #EF5B70;
      }
   }

   // &__categories-list {
      // display: flex;
      // flex-direction: column;
      // justify-content: center;
      // align-items: flex-start;
   // }

   // &__subcategories {
   // }
}



/*--------------------*/

.pagination {
   display: flex;
   justify-content: center;
   
   margin-top: 33px;
   &__body {
      display: flex;
      padding: 13px 16px;
      border: 1px solid #EBEBEB;
      transition: border 0.5s ease-in;
      &:hover {
         border-color: #000;
      }
   }
  
   &__list {
      margin-left: 16px;
      margin-right: 16px;
      display: flex;
      & li {
         margin: 0 8px;
         &:first-child {
            margin-left: 0px;
         }
         &:last-child {
            margin-right: 0px;
         }
      }
   }

   &__link {
      color: #EBEBEB;
      transition: color 0.3s ease-in;
      &:hover {
         color: #000;
      }
      & ._active {
         color: #EF5B70;
      }
   }

   &__arrow {
      
      transition: fill 2s ease-in; //!как повесить анимацию на svg?
      &:hover path{
         fill: #EF5B70;   
      }
   }
   & ._rotate {
      transform: rotate(180deg);
   }

   
}

/*--------------------*/