/*------footer--------------*/

.subscribe-block {
   background: url(../img/subscribe/bg.png) center bottom / cover;
   // width: 100%;
   // min-height: 448px;
   position: relative;
   &:before {
      content: "";
      width: 100%;
      height: 100%;
      left: 0;
      top: 0;
      position: absolute;
      background-color: rgba(244, 244, 244, 0.7);
   }
   &__body {
      display: flex;
      justify-content: space-between;
      padding-top: 100px;
      padding-bottom: 150px;
      position: relative;
   }

   &__column {
      flex: 0 1 50%;
      text-align: center;
      align-self: center;
   }

   &__img {
      margin-bottom: 30px;
   }

   &__text {
      @include font(20px, $ColorSelectTwo, 24px);
      max-width: 360px;
      margin: 0 auto;
      font-style: italic;
   }

   &__heading {
      @include font(24px, $ColorSelectTwo, 38px);
      text-transform: uppercase;
      font-weight: 700;
   }

   &__description {
      @include font(18px, $ColorSelectTwo, 30px);
      text-transform: uppercase;
      margin-bottom: 32px;
   }

   &__form {
      height: 50px;
      display: flex;
      justify-content: center;
   }

   &__mail {
      flex: 1 1 auto;
      @include font(14px, $ColorSelectTwo, 17px);
      border-radius: 25px 0 0 25px;
      background-color: #E1E1E1;
      max-width: 255px;
      padding: 0 22px 0 22px;
   }

   &__button {
      flex: 0 0 100px;
      background-color: #F16D7F;
      border-radius: 0px 25px 25px 0px;
      transition: background-color 0.3s ease-in;
      & span {
         @include font(14px, #fff, 17px);
      }
      &:hover {
         background-color: #E05C6E;
      }
   }
}

.footer-bottom {
   background-color: $ColorSelectTwo;
   padding-left: calc(50% - 570px);
   padding-right: calc(50% - 570px);
   &__body {
      height: 79px;
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   &__rights {
      @include font(16px, #FBFBFB, 19px);
   }

   // &__social {
   // }

   &__list {
      display: flex;
      align-items: center;
      justify-content: center;
   }

   &__link {
      height: 32px;
      width: 32px;
      background-color: #fff;
      display: flex;
      align-items: center;
      justify-content: center; 
      margin: 0 4px 0 4px; 
      transition: background-color 0.3s ease-in;
      &:first-child {
         margin-left: 0;
      }
      &:last-child {
         margin-right: 0;
      }
      &:hover {
         background-color: #F16D7F;
         svg path {
            fill: white;
         }
      }
   }
}


/*--------------------*/