/*--------header------------*/

.header {
   background-color: $ColorSelectTwo;
   position: fixed;
   top: 0;
   left: 0;
   z-index: 20;
   width: 100%;
   &__content {
      height: 75px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      @media (max-width: $md1+px) {
         margin: 0 32px;
      }
      @media (max-width: $md3+px) {
         position: relative;
      }
      @media (max-width: $md4+px) {
         margin: 0 16px;
      }
   }

   &__left {
      display: flex;
   }

   &__right {
      display: flex;
      align-items: center;
   }

   &__logo {
      margin-right: 40px;
      @media (max-width: $md3+px) {
         position: absolute;
         top: 50%;
         left: 50%;
         transform: translate(-50%, -50%);
         margin-right: 0;
      }
   }

   &__search-icon {
      align-self: center;
      & svg path {
         transition: fill .5s ease;
      }
      &:hover path {
         fill: $ColorSelect;
      }
   }

   &__menu-icon {
      margin-right: 32px;
      & svg path {
         transition: fill .5s ease;
      }
      &:hover path {
         fill: $ColorSelect;
      }
      @media (max-width: $md3+px) {
         margin-right: 0;
      }
   }  

   &__profile {
      margin-right: 32px;
      & svg path {
         transition: fill .5s ease;
      }
      &:hover path {
         fill: $ColorSelect;
      }  
      @media (max-width: $md3+px) {
         // display: inline-flex;
         // margin-bottom: 30px;
         // margin-right: 40px;
         margin-right: 0;
         & svg path {
            fill: #000;
         }
      }
         
   }

   &__basket {
      & svg path {
         transition: fill .5s ease;
      }
      &:hover path {
         fill: $ColorSelect;
      }
      @media (max-width: $md3+px) {
         // display: inline-flex;
         // margin-bottom: 30px;
         & svg path {
            fill: #000;
         }
      }
   }

   &__menu {
      position: fixed;
      top: 75px;
      right: 0;
      margin-right: -232px;
      height: calc(100% - 75px);
      width: 100%;
      z-index: 20;
      opacity: 0;
      visibility: hidden;
      transition: opacity .5s ease, visibility 0.5s ease;
      &._active {
         opacity: 1;
         visibility: visible;
         margin-right: 0;
         background-color: rgba(0, 0, 0, 0.5);
         transition: background-color .5s ease .4s, margin .5s ease ;
      }
   }

   &__search {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 75px;
      display: flex;
      justify-content: space-between;
      align-items: center;
      text-align: center;
      background-color: $ColorSelectTwo;
      opacity: 0;
      visibility: hidden;
      transition: opacity .5s ease, visibility .5s ease;
      &._active {
         opacity: 1;
         visibility: visible;
      }
   }

   &__search-body {
      margin: 0 auto;
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
   }

   &__search-input {
      box-shadow: 0 0 5px #fff;
      border-radius: 10px;
      padding: 10px 32px 10px 16px;
      width: 500px;
      @include font(16px, #B1B1B1, 20px);
      @media (max-width: $md3+px) {
         width: 400px;
      }
      @media (max-width: $md4+px) {
         width: 280px;
      }
   }

   &__search-close {
      width: 12px;
      height: 12px;
      right: 10px;
   }
}


.main-menu {
   &__body {
      position: absolute;
      top: 0;
      right: 0;
      width: 232px;
      background-color: #fff;
      padding-left: 32px;
      padding-top: 37px;
      height: 100%;
      box-shadow: 6px 4px 35px rgba(0, 0, 0, 0.21);
      overflow: auto;
      @media (max-width: $md3+px) {
         padding-top: 20px;
      }
      @media (max-width: $md4+px) {
         width: 100%;
         padding-left: 0;
      }
   }

   &__icon {
      @media (max-width: $md3+px) {
      display: inline-flex; 
      align-items: center;
      justify-content: space-between;
      height: 30px;
      margin-bottom: 25px;
      margin-top: 25px;
      width: 130px;
      }
      @media (max-width: $md4+px) {
         display: flex;
         margin: 25px auto;
         }
   }

   &__title {
      @include font(14px, #000, 17px);
      font-weight: 700;
      margin-bottom: 24px;
      @media (max-width: $md4+px) {
         text-align: center;
      }
   }

   &__menu-list {
      @media (max-width: $md4+px) {
         display: flex;
         flex-direction: column;
         align-items: center;
         justify-content: center;
         text-align: center;
      }
   }

   // &__category {
   // }

   &__categories-name {
      @include font(14px, #EF5B70, 17px);
      display: inline-flex;
      transition: border 0.5s ease-in;
      position: relative;
      margin-bottom: 16px;
      &:after {
         content: "";
         position: absolute;
         left: 0;
         bottom: -5px;
         height: 1px;
         width: 100%;
         background-color: #EF5B70;
         opacity: 0;
         visibility: hidden;
         transition: opacity .5s ease;
      }
      &:hover::after {
         opacity: 1;
         visibility: visible;
      }
      @media (max-width: $md4+px) {
         // align-self: center;
         // text-align: center;
         // justify-content: center;
      }
   }

   &__categories-list {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
   }

   &__categories-link {
      align-self: start;
      margin-bottom: 12px;
      &:last-child {
         margin-bottom: 16px;
         
      }
      @media (max-width: $md4+px) {
         align-self: center;
      }
   }

   &__subcategories {
      &:first-child {
         margin-top: 0;
      }
      &:last-child {
         margin-bottom: 20px;
      }
      @media (max-width: $md4+px) {
         padding-left: 0;
      }
   }

   &__close {
      top: 16px;
      right: 16px;
      height: 12px;
      width: 12px;
   }
}




/*--------------------*/