/*--------header------------*/

.header {
   background-color: $ColorSelectTwo;
   &__content {
      height: 75px;
      display: flex;
      justify-content: space-between;
      align-items: center;
   }

   &__left {
      display: flex;
   }

   &__right {
      display: flex;
      align-items: center;
   }

   &__logo {
      margin-right: 40px;
   }

   &__search {
      align-self: center;
      // transition: all 1s ease;
      // &:hover {
      //    svg path {
      //       fill: $ColorSelect;
      //    }
      // }
   }

   &__menu {
      // &:hover {
      //    svg path {
      //       fill: $ColorSelect;
      //    }
      // }
   }  

   &__profile {
      margin: 0 33px;
      // &:hover {
      //    svg path {
      //       fill: $ColorSelect;
      //    }
      // }   
   }

   &__basket {
      // &:hover {
      //    svg path {
      //       fill: $ColorSelect;
      //    }
      // }
   }
}


/*--------------------*/